.login-div{
    padding: 60px 50px;
}

.whiteLogo{
    position: absolute;
    right: 40px;
    bottom: 100px;
}

/* Style the input container */
.input-container{
    position: relative;
}

.icon{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 12px;
    text-align: center;
    background: rgba(158, 7, 158, 0.15);
    border-radius: 5px 0px 0px 5px;
    color: #9E079E;
    width: 45px;
}

.form-control {
    display: block;
    width: 70%;
    height: calc(1.5em + .75rem + 2px);
    padding: 23px 5px 23px 55px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9E079E;
    border-radius: 5px;
 }

 .form-control:focus {
    /* border-color: rgba(50, 54, 67, 0.2); */
    border: 1px solid #9E079E;
    box-shadow: none;
    outline: 0 none;
  }

  .btn-login{
    background: #9E079E;
    border-radius: 5px;
    color: white;
    padding: 10px 40px;
    transition: all ease-in 0.5s;
  
  }

  .btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

  .btn-login:hover{
      color: white;     
      width: 70%;
  }


  /* media query */
  @media screen and (max-width: 767px){     
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 23px 5px 23px 50px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9E079E;
    border-radius: 5px;
 }
 .btn-login:hover{
    color: white;     
    width: 100%;
}
}