
 .main {
    margin-left: 66px;/* Same as the width of the sidenav */
    /* font-size: 10px; Increased text to enable scrolling */
    padding: 10px 10px;
  }

  .contain{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* marketers div */
  .title-div{
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
  }
  .title-heading{
      padding: 15px 0px;
  }
  .active-div{
    background-image: url('./img/users.png');
    background-size: cover;
    border-radius: 10px;
  }
  .active-div h5{
      color: white
  }
  .marketers-div{
    background-image: url('./img/marketers.png');
    background-size: cover;
    border-radius: 10px;  
  }
  .marketers-div h5{
      color: white;
  }

  /* cards layout */
  .card-div{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
  }
  .card-div-active{
      background-color: transparent;
      border-radius: 5px;
      border:  1px solid #000000;
      padding: 10px 10px;
      cursor: pointer;
  }
  .value-suspend{
    color: #FF3535;
    font-weight: bold;
  }
  .value{
    color: #000000;
    font-weight: bold;
  }

  /* filter div */
  .filter-div{
    background: rgba(226, 223, 242, 0.82);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
  
  .active-filter{
      background-color: #A030A8;
      border-radius: 10px;
      border-right:  0.2px solid #9286E9;
      padding: 10px 30px;
  }
  .active-filter p{
      color: white;
  }
  .filter-tab{
      border-right:  0.2px solid #9286E9;
      padding: 10px 30px;
  }
  .filter-tab:nth-last-child(1){
    padding: 10px 30px;
    border-right: none;
  }

  /* table layout */
  .table-style{
    background: #FFFFFF;
    padding: 5px 30px 30px 30px;
  }
  .table-data{
      flex: 1 1 auto;

  }
  
  .btn-view{
    background: #A030A8;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    transition: all ease-in 0.5s;
  }
  .btn-view:hover{
    color: white;     
} 


.myTable{
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  display: table;
  text-indent: initial;
}

.myHead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.myRow{
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.myTable .myHead .myColumn{
  /* vertical-align: bottom; */
  border-bottom: 0.4px solid rgba(0,0,0,.1);
}
.myColumn{
  display: table-cell;
}
.myTable .myColumn{
  padding: 18px;
  /* vertical-align: top; */
}
.imageStyle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

/* all page border */
.allBorder{
  border: 1px solid #9E079E;
  border-radius: 10px;
  padding: 10px 30px;
}
