
 .main {
    margin-left: 66px;/* Same as the width of the sidenav */
    /* font-size: 10px; Increased text to enable scrolling */
    padding: 10px 10px;
  }

  .contain{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  /* marketers div */
  .title-div{
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
  }
  .title-heading{
      padding: 15px 0px;
  }
  .active-div{
    background-image: url('./img/users.png');
    background-size: cover;
    border-radius: 10px;
  }
  .active-div h5{
      color: white
  }
  .marketers-div{
    background-image: url('./img/marketers.png');
    background-size: cover;
    border-radius: 10px;  
  }
  .marketers-div h5{
      color: white;
  }

  /* cards layout */
  .card-div{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
  }
  .card-div-active{
      background-color: transparent;
      border-radius: 5px;
      border:  1px solid #000000;
      padding: 10px 10px;
      cursor: pointer;
  }

  /* filter div */
  .filter-div{
    background: rgba(226, 223, 242, 0.82);
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .active-filter{
      background-color: #A030A8;
      border-radius: 10px;
      border-right:  0.2px solid #9286E9;
      padding: 10px 30px;
  }
  .active-filter p{
      color: white;
  }
  .filter-tab{
      border-right:  0.2px solid #9286E9;
      padding: 10px 30px;
  }

  /* table layout */
  .table-style{
    background: #FFFFFF;
    padding: 30px 30px;
  }
  .table-data{
      /* flex: 1 1 auto */
  }
  
  .btn-view{
    background: #A030A8;
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    transition: all ease-in 0.5s;
  }
  .btn-view:hover{
    color: white;     
} 