*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BwModelica';
  src: local('BwModelica'), url(./fonts/bw/BwModelicaCyrillicDEMO-Regular.ttf);
}


body {
  font-family: 'BwModelica';
}


.preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}


.preloader img{
  width: 100px;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes loading{
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}