
.admin-card{
    width: 50%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.admin-div{
    padding: 50px 80px;
}

.active-admin{
    background-color: #7331D5;
    border-radius: 10px;
    border-right:  0.2px solid #9286E9;
    padding: 10px 30px;
}
.active-admin p{
    color: white;
}

/* all admin layout styles */
.myTable .myHead .adminColumn{
    vertical-align: middle;
    border-bottom: 0.4px solid rgba(0,0,0,.1);
    /* padding: 18px 20px; */
  }
  .adminColumn{
    display: table-cell;
  }
  .myTable .adminColumn{
    padding: 10px 18px 10px 18px;
    vertical-align: top;
}
